body{
    margin:0;
    font-family: Gilroy,sans-serif;
}

.header{
    position: fixed;
    margin-top: -11px;
    background-color: white;
    height: 75px;
    width: 100%;
}
.header-sub{
   background-color: white;
   height: 75px;
   width: 100%;
   margin-top: 26px;
}
.left{
    float: left;
    margin-left: 260px;
    background-color: white;
    width: 22%;
    height: 75px;
}
.right{
    float: left;
    margin-left: 225px;
    background-color: white;
    width: 35%;
    height: 100%;
    cursor: pointer;

}
.logo{
   height: 37px;
    width: 133px;
    margin-top: 3px;
    cursor: pointer;
    margin-top: 16px;
}
.loc-logo{
    margin-top: 12px;
    margin-left: 8px;
    font-size: 23px;
}
.loc{
    float: right;
    font-size: 16px;
    margin-right: 60px;
    margin-top: 25px;
    font-weight: 200;
}

.logo-li{
    text-decoration: none;
    color: black;  
}
.log{
    color: rgb(0, 210, 144);
}
.opt1{
    padding-top: 26px;
    padding-left: 8px;
    color:rgb(23, 30, 48);
    cursor: pointer;
}
.opt2{
    padding-top: 26px;
    padding-left: 8px;
    color:rgb(23, 30, 48);
    cursor: pointer;
}
.opt3a{
    padding-left: 40px;
}
.options{
    float: right;
    margin-right: 146px;
    margin-top: -48px;
    
}
.cart{
    font-size: 26px;
    padding-left: 12px;
    

}
.cart1{
    padding-left: 12px;
    
}
.signIn{
    float: left;
    padding-left: 469px;
    margin-top: -45px;
}
.btn{
    height: 41px;
    width: 110px;
    background-color:rgb(0, 210, 144);
    color: white;
    font-size: 18px;
    border-radius: 20px;
    border: none;
    cursor: pointer;
}
.space{
    
    width: 15%;
    height: 49px;
    background: linear-gradient(90.05deg, rgb(9, 17, 37) -2.5%, rgb(33, 61, 133) 100.83%);
 
}
.hdr{
    
    width: 100%;
    height: 131px;
    background: linear-gradient(90.05deg, rgb(9, 17, 37) -2.5%, rgb(33, 61, 133) 100.83%);
}
.hdr-para{
    float: left;
    margin-left: 280px;
    margin-top: 32px;
    color: white;
}
.hdr-link{
    float: right;
    margin-top: 32px;
    margin-right: 248px;
}
.image{
    
    height: 650px;
    background-color: white;
}
.img{
    height: 505px;
    width: 1060px;
    border-radius: 10px;
    margin-top: 42px;
    margin-left: 295px;
}
.image-button{
    margin-top: -110px;
    margin-left: 363px;
}
.img-btn{
    height: 51px;
    width: 321px;
    border: none;
    border-radius: 27px;
    font-size: 18px;
    color: rgb(0, 210, 144);
    cursor: pointer;
}
.content{
    width: 100%;
    height: 716px;
    background-color:rgb(247, 253, 250);
    opacity: 10px;
}
.home{
    margin-left: 301px;
}

.blr{
    margin-left: 293px;
    margin-top: 40px;
    font-size: 50px;
    font-weight: 100;
   
}
.para{
    margin-left: 293px;
    font-size: 17px;
    line-height: 24px;
    color: rgb(111, 117, 136);
}
.cards1{
    width: 68%;
    height: 430px;
    margin-left: 291px;
    margin-top: 40px;
}
.img1{
    border-radius: 15px;
    height: 200px;
    width: 280px;
    margin-left: 6px;
    padding-top: 7px;
}
.img2{
    float: left;
    border-radius: 10px;
    height: 200px;
    width: 280px;
    margin-left: 296px;
    padding-top: -33px;
    margin-top: -204px;
}
.img3{
    float: left;
    border-radius: 10px;
    height: 200px;
    width: 280px;
    margin-left: 586px;
    padding-top: -33px;
    margin-top: -204px;
}
.img4{
    float: left;
    border-radius: 10px;
    height: 197px;
    width: 266px;
    margin-left: 879px;
    padding-top: -33px;
    margin-top: -204px;
}
.cards2{
    height: 155px;
    width: 1133px;
    background-color: white;
    margin-left: 8px;
    margin-top: 5px;
}
.crd1{
    float: left;
    height: 100px;
    width: 134px;
    background-color: grey;
    margin: 8px;
    border-radius: 6px;
   
}
.crd2{
    float: left;
    height: 100px;
    width: 134px;
    background-color: grey;
    margin: 8px;
    border-radius: 6px;
}
.crd3{
    float: left;
    height: 100px;
    width: 134px;
    background-color: grey;
    margin: 8px;
    border-radius: 6px;
}
.p{
    margin-top: 74px;
}
.cards3{
    width: 100%;
    height: 372px;
    background-color: white;
}
.h1{
    padding-top: 43px;
    margin-left: 304px;
}
.picks{
    height: 243px;
    width: 1196px;
    background-color: white;
    margin-left: 304px;
}
.pk-img1{
    float: left;
    height: 171px;
    width: 280px;
    margin-top: 3px;
    margin-left: 4px;
    border-radius: 10px
}
.pk-img2{
    float: left;
    height: 171px;
    width: 280px;
    margin-top: 3px;
    margin-left: 9px;
    border-radius: 10px
}
.pk-img3{
    float: left;
    height: 171px;
    width: 280px;
    margin-top: 3px;
    margin-left: 9px;
    border-radius: 10px
}
.pk-img4{
    float: left;
    height: 171px;
    width: 293px;
    margin-top: 3px;
    margin-left: 9px;
    border-radius: 10px;
}
.ctnt{
    float: left;
    height: 255px;
    width: 100%;
    background-color: white;
}
.sub-c{
    width: 100%;
    height: 155px;
    background-color: black;
    opacity: 8%;
    margin-top: 100px;
}
.img-div{
    float: left;
    margin-left: 592px;
    width: 50px;
    height: 40px;
    margin-top: -250px;
}

.size{
    height: 250px;
    width: 230px;
}
.para-div{
    float: right;
    margin-top: -148px;
    margin-right: 395px;
}
.app{
    float: right;
    margin-top: -72px;
    margin-right: 165px;

}
.areas{
    width: 100%;
    height: 560px;
    background-color: rgb(249, 250, 252);;

}

.ar-h1{
    padding-top: 70px;
    margin-left: 315px;
    font-size: 32px;
    font-weight: 600;
}
.area-h1{
    
        margin-top: 255px;
    }
.place1{
    float: left;
    width: 221px;
    height: 400px;
    margin-left: 315px;
}
 
.pl{
    font-size: 18px;
    color: grey;
}
.place2{
    float: left;
    width: 220px;
    height: 400px;
    margin-left: 83px;
} 
.place3{
    float: left;
    
    width: 220px;
    height: 400px;
    margin-left: 86px;
}
 
.place4{
    float: left;
    width: 229px;
    height: 400px;
    margin-left: 86px;
}
.fish{
    margin-top: 28px;
}
.main-card{
    display: flex;
}
